@model ToyStore.Models.Product

@{
    ViewBag.Title = "DetailsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .dl-horizontal {
        margin-left: 400px;
    }

    .form-control {
        width: 30%;
    }
</style>
<body>
    <div id="contant">
        <div id="div_top">
            <h2 style="text-align: center; font-size: 50px; font-family: monospace "> @Html.DisplayFor(model => model.NamePro)</h2>
        </div>


        <div class="control-label col-md-6">
            <img src="@Url.Content(Model.ImagePro)" height="500" width="500" />

        </div>

        <div class="control-label col-md-4">
            @Html.DisplayFor(model => model.DecriptionPro)

            <p style="font-size:50px ;font-family:cursive">  @Html.DisplayFor(model => model.Price)0 Vnd</p>
            <a href="/ShoppingCart/AddToCart/@Model.ProductID" class="btn btn-default">Mua hàng</a>
        </div>

        <div>
            <footer>
                <p>
                    @Html.ActionLink("Trở về", "Index")
                </p>

            </footer>

        </div>
    </div>



</body>
